 

#home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.521),rgba(0,0,0, 0.521)) ,url(../images/1000_F_184972433_lL3sh1naBBZPVYblZIVvM6oiemEEvYFW.jpg) ;
    background-size: cover;
    background-position: center center;
    overflow: auto;
    height:100vh;
}
.login{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    
}
a{
    text-decoration: none;
    color:#E6B9DE;
}
h1{
    color:#FAE7F3;
}
input{
    background-color: transparent !important;
    color:#fff !important;
}
input::placeholder{
    color: rgb(182, 182, 182) !important;
}
input:focus{
    box-shadow: none !important;
}
.navbar{
    background-image:linear-gradient(to left,rgba(185, 172, 185, 0.521),rgba(126, 10, 16, 0.521)) ; 
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);  
}
.home-head{
    margin-top:75px;
}
.home-head h2 {
    font-size: 130px;
    color:#FAE7F3;
 
}
.home-head h2 .b{
color:#FFD1E3;
margin-left: 20px;
}
.home-head h2 .c{
    color:#5D3587;
    margin-left: 30px;
}
.btn1{
    background-image:linear-gradient(to right,rgba(185, 172, 185, 0.521),rgba(37, 22, 172, 0.521)) ; 
    transition: all 1s;
    color:#DBCC95
}
.btn1:hover{
    color:#CD8D7A;
    background-color:rgba(137, 22, 172, 0.521) ;
    
}

@media screen and (max-width :1200px){
    .home-head h2 {
        font-size: 130px;
        color:#EAECCC
     
    }
   } 

@media screen and (max-width :992px){
    .home-head h2 {
        font-size: 100px;
        color:#EAECCC
     
    }
  }

  @media screen and (max-width :768px){
    .home-head h2 {
        font-size: 50px;
        color:#4d0850;
       
    }
    .home-head h2 .b{
        color:#4d0850;
        margin-left: 0px;
        }
        .home-head h2 .c{
            color:#4d0850;
            margin-left: 0px;
        
        }
        .home-head{
            margin-top:50px;
        }
  }
   @media screen and (max-width :576px){
    .home-head h2 {
        font-size: 48px;
     
    }
  }
.head-sign{
    position: relative;
    
    
    
}
.head-sign h1{
    position:absolute;
    left:60px;
    bottom: -10px;
    transform:translateX(-50%,-50%);
    font-size: 4em;
}
.head-sign h1:nth-child(1){
    color:transparent;
    -webkit-text-stroke: 1px #03a9f4;

}
.head-sign h1:nth-child(2){
    color:03a9f4;
    -webkit-text-stroke: 2px #03a9f4;
    animation: animate 3s ease-in-out infinite;

}
@keyframes animate
{
    0%,100%{
        clip-path: polygon(2% 43%, 15% 38%, 26% 44%, 42% 53%, 58% 54%, 74% 53%, 87% 47%, 95% 44%, 100% 43%, 99% 100%, 0% 100%);    
    }
    50%{
        clip-path: polygon(0 57%, 17% 63%, 33% 63%, 47% 56%, 60% 45%, 77% 31%, 90% 28%, 100% 28%, 99% 100%, 0% 100%);
        
    }
}
@media screen and (max-width :1200px){
    .head-sign h1{
        position:absolute;
        left:95px;
        bottom: -10px;
        transform:translateX(-50%,-50%);
        font-size: 3em;
    }
   } 

@media screen and (max-width :992px){
    .head-sign h1{
        position:absolute;
        left:55px;
        bottom: -10px;
        transform:translateX(-50%,-50%);
        font-size: 2em;
    }
  }

  @media screen and (max-width :768px){
    .head-sign h1{
        position:absolute;
        left:45px;
        bottom: -10px;
        transform:translateX(-50%,-50%);
        font-size: 1.5em;
    }
  }
   @media screen and (max-width :576px){
    .head-sign h1{
        position:absolute;
        left:40px;
        bottom: -10px;
        transform:translateX(-50%,-50%);
        font-size: 1.3em;
    }
  }
  .login{
    margin-top: 120px !important;
  }